<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/nav.ejs %>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<div class="container main">
			<!-- <div class="row"> -->
			<a href="/">Home</a>
			<a href="/products">Products Index</a>
			<h2>Edit Product Listing</h2>
			<form action="/products/<%=product._id%>?_method=PUT" method="post">
					Item: <input type="text" name="item" placeholder="item" value="<%=product.item%>"/><br/>
					Description: <textarea name="description" placeholder="description" ><%=product.description%></textarea><br/>
					Price: $<input type="number" name="price" placeholder="price"  value="<%=product.price%>"/><br/>
					Image url:<input type="text" name="img" placeholder="img"  value="<%=product.img%>"/><br/>
					<input type="submit" value="Update Product"/>
			</form>
			<!-- </div> -->
		</div>
		<nav>
			products/edit.ejs
		</nav>
	</body>
</html>