<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/nav.ejs %>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<div class="container-fluid main">
				<h1>Product Listing</h1>
				<div class="row displayArea">
					<div class="col-sm">
						<img src="<%=product.img%>" class="img-fluid imgMedium"></br>
					</div>
					<div class="col-sm showDescription">
						<h3><%=product.item%></h3>
						<p><%=product.description%></p>
						<p>$<%=product.price%></p>

						<!-- Edit button -->					
						<form action="/products/<%=product._id%>/edit">
							<input type="submit" class="form-control" value="Edit"/>
						</form>
						<!-- Delete button -->
                		<form action="/products/<%=product._id%>?_method=DELETE" method="post">
                    	<input type="submit" class="form-control" value="DELETE"/>
						</form>

					</div>
				</div>
		</div>
	</body>
	<nav>
			products/show.ejs</br>
			<a href="/">Home</a>
			<a href="/products">Back to Product listings</a>
	</nav>
</html>