<!DOCTYPE html>
<html>

        <head>
            <% include ./partials/head.ejs %>
            <% include ./partials/nav.ejs %>
            <title>Edit Product</title>
        </head>


    <body>
        <h1>Edit Product Page</h1>
        <div class = "container showP">
            <form action="/products/<%=product.id%>?_method=PUT" method="POST">
                Name: <input type="text" name="name" value="<%=product.name%>"/><br/>
                Description: <input type="textarea" name="description" value="<%=product.description%>"/><br/>
                Quantity: <input type="number" name="qty" value="<%=product.qty%>"/><br/>
                Price: <input type="number" name="price" value="<%=product.price%>"/><br/>
                Image: <input type="url" name="img" value="<%=product.img%>" /> </br>

                <input type="submit" name="" value="Submit Changes"/>
            </form>
        </div>

    </body>
    <footer>
        <% include ./partials/footer.ejs %>
    </footer>
</html>
