<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
        <% include ./partials/nav.ejs %>
    </head>
    <body>
        <h1>Product page</h1>
        <div class="container">
            <%=product.name; %> </br>
                <div class="smallContainer">

                    <!-- Image, Description, Price -->
                    <img src="<%=product.img%>"></br>
                    <%=product.description; %> </br>
                    <b>Price: </b>$<%=product.price; %> </br>

                    <!-- Quantity if 0, show out of stock, if not show remaining! -->
                    <% if (product.qty === 0) { %>
                        Out of stock bro!
                    <% } else { %>
                        <b><%=product.qty; %> remaining! </b></br>
                    <% } %>


                    <!-- Buy button shouldn't display if quantity = 0 -->
                    <% if (product.qty > 0) { %>
                        <form action="/products/<%=product.id%>/buy?_method=put" method="POST">
                            <button class="buy-button" id="buyB">Buy</button>
                        </form>

                    <% } else { %> 

                    <% } %>


                    <!-- Edit Button -->
                    <form action="/products/<%=product.id; %>/edit">
                        <input type="submit" value="Edit"/>
                    </form>

                    <!-- Delete button -->
                    <form action="/products/<%=product.id; %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>

                </div>
        </div>


        <nav>
            <a href="/products">Back to Products</a>
        </nav>
    </body>
    <footer>
        <% include ./partials/footer.ejs %>
    </footer>
</html>
