<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/nav.ejs %>
        <% include ../partials/head.ejs %>
    </head>

    <body>
        <div class="container main">
            <h1>Edit Shop</h1>
                <form action="/shops/<%=shop.id%>?_method=PUT" method="POST">
                Name: <input type="text" name="shopName" value="<%=shop.shopName%>"/><br/>
                Description: <input type="text" name="description" value="<%=shop.description%>"/><br/>
                How we do good: <input type="text" name="socialCause" value="<%=shop.socialCause%>"/><br/>
                Products: <input type="text" name="products" value="<%=shop.products%>"/><br/>
                Website: <input type="url" name="website" value="<%=shop.website%>"/><br/>
                Image: <input type="url" name="img" value="<%=shop.img%>" /> </br>
                <input type="submit" name="" value="Submit Changes"/>
                </form>
        </div>

        <nav>
            <a href="/shops">Back to Shop Listings</a></br>
            shops/edit.ejs
        </nav>

    </body>
    <footer>
    </footer>
</html>