<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <h1>shops/show.ejs</h1>
            <%= shop.shopName %></br>
            <img src="<%=shop.img%>" class="img-fluid"></a></br>
            <%= shop.description %></br>
            <%= shop.socialCause %></br>
            Products: <%= shop.products %></br>
            <label for=""></label>
            <%= shop.website %></br>


            <!-- Delete button -->
            <form action="/shops/<%=shop.id; %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
            </form>
            <!-- Edit button -->
            <form action="/shops/<%=shop.id; %>/edit">
                <input type="submit" value="Edit"/>
            </form>

        </div>

        <nav>
            <a href="/shops">Back to Shop Listings</a>
        </nav>
    </body>
    <footer>
    </footer>
</html>