<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/nav.ejs %>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="container-fluid main">
            <h1>Shop Profile</h1>
            <div class="row displayArea">
                <div class="col-sm">
                    <img src="<%=shop.img%>" class="img-fluid imgMedium"></br>
                </div>
                <div class="col-sm showDescription">
                    <h3><%= shop.shopName %></h3>
                    <p>Description: <%= shop.description %></p>
                    <p>How we do good: <%= shop.socialCause %></p>

                    <!-- Drop down here -->
                    <label for="products">Products:</label>
                        <select name="products" id="products">
                            <!-- <option value="">Choose products</option> -->
                            <% for (let i=0; i< shop.products.length; i++) { %>
                                <option value="<%shop.products[i]._id%>"><%= shop.products[i].item %></option>
                            <% } %>
                        </select></br>
                    <%= shop.website %></br>
                    
                    <div class="buttonContainer">
                        <!-- Edit button -->
                        <form action="/shops/<%=shop.id; %>/edit">
                            <input type="submit" class="form-control btn-custom" value="Edit"/>
                        </form>
                        <!-- Delete button -->
                        <form action="/shops/<%=shop.id; %>?_method=DELETE" method="POST">
                            <input type="submit" class="form-control btn-custom" value="DELETE"/>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <nav>
            <a href="/shops">Back to Shop Listings</a></br>
        </nav>
    </body>
    <footer>
    </footer>
</html>